.botao {
    background-color: rgba(32, 44, 60, 0.325);
    border: none;
    color: white;
    width: 15%;
    height: 40px;

    border-radius: 6px;
    background-color: #0f010195;

    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.botao:hover {
    transform: scale(0.95);
    background-color: #0f0101d2;
}

@media screen and (max-widht: 765px) {
    .botao {
        font-size: 14px;
    }
}